.muted {
    opacity: 0.5;
}

h2 {
    margin-bottom: 0;
}

body {
    font-family: "adobe-garamond-pro", georgia;
    font-size: large;
}

.code {
    font-family: consolas, monospace;
}

.header {
    background-color: rgb(26, 188, 156);
    height: 45px;
    box-shadow: 0px 3px 13px 0px rgba(2, 3, 3, 0.16);
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
}

.header ul {
    list-style-type: none;
}

.header li {
    display: inline;
    margin-left: 5%;
}

.header-links {
    text-align: right;
}

.header-elem {
    line-height: 45px;
    cursor: pointer;
    display: inline;
}

.header-elem:hover {
    color: rgba(255, 255, 255, 1);
}

.pagination a {
    margin: 0 !important;
    padding: 0 !important;
}

.ornament {
    text-align: center;
}

.header-contents a {
    color: rgba(255, 255, 255, 0.75);
}

.share {
    text-align: right;
}

.share ul {
    list-style-type: none;
}

.share li {
    display: inline;
    vertical-align: top;
}

.content {
    margin-top: 60px;
}

.post {
    text-align: justify;
}

.post p {
    text-indent: 2em;
}

.post ul {
    list-style-position: inside;
    padding-left: 4em;
}


.archive li {
    list-style-type: none;
}

.highlight {
    font-size: medium;
}

::selection {
    background: rgb(26, 188, 156);
}

::-moz-selection {
    background: rgb(26, 188, 156);
}

a {
    color: #ff582c;
}

.about-logos {
    text-align: right;
}
.about-logos img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    border-radius: 50%;
}

.rss-img {
    height: 24px;
    width: 24px;
}
