.muted {
    opacity: 0.5;
}

.header {
    background-color: rgb(26, 188, 156);
    height: 45px;
    box-shadow: 0px 3px 13px 0px rgba(2, 3, 3, 0.16);
}

.header-elem {
    line-height: 45px;
    cursor: pointer;
}

.pagination a {
    margin: 0 !important;
    padding: 0 !important;
}

.header-elem a {
    color: white;
}

.content {
    margin-top: 60px;
}

.post {
    text-align: justify;
}

.archive li {
    list-style-type: none;
}