.muted {
    opacity: 0.5;
}

body {
    font-family: "adobe-garamond-pro",sans-serif;
    font-size: large;
}

.code {
    font-family: sans-serif;
}

.header {
    background-color: rgb(26, 188, 156);
    height: 45px;
    box-shadow: 0px 3px 13px 0px rgba(2, 3, 3, 0.16);
}

.header-elem {
    line-height: 45px;
    cursor: pointer;
}

.pagination a {
    margin: 0 !important;
    padding: 0 !important;
}

.ornament {
    text-align: center;
}

.header-elem a {
    color: white;
}

.share ul {
    list-style-type: none;
}

.share li {
    display: inline;
    height:20px;
    vertical-align: top;
}

.content {
    margin-top: 60px;
}

.post {
    text-align: justify;
}

.post p {
    text-indent: 2em;
}


.archive li {
    list-style-type: none;
}