/* https://kuler.adobe.com/mar-vintage-color-theme-2919210/ */
$color-red: #DE3961;
$color-green: #A4E670;
$color-light-yellow: #FFFFDC;
$color-light-teal:#B3EECC;
$color-teal: #00ADA7;

$media-query-breakpoint: 767px;
$color-light-smoke: rgba(255, 255, 255, 0.75);

.muted {
    opacity: 0.5;
}

h1, h2 {
    margin-bottom: 0;
}

body {
    font-family: "adobe-garamond-pro", georgia;
    font-size: large;
}

.content {
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: white;
    margin-bottom: 20px;
}

pre {
    font-size: small;
    padding: 1em;
    margin-bottom: 30px;
    background-color: rgba(200, 200, 200, 0.35);
    border-radius: 3px;
}

.code {
    font-family: consolas, monospace;
}

code {
    font-size: medium;
    color: rgb(120, 120, 120);
}

.header {
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    background-color: $color-teal;

    ul {
        list-style-type: none;
    }

    li {
        display: inline;
        margin-left: 5%;
    }
}

.header-icon {
    height: 30px;
    width: 30px;
}

.post-header {
    position: relative;
    background-color: $color-teal;

    h1, h2 {
        margin-top: 0px;
        text-align: center;
        color: white;
    }

    .header-subtitle {
        color: $color-light-smoke;
        font-size: 110%;
    }
}

.post-header-contents {
    margin: 0 auto;
}

.post-header-links {
    position: absolute;
    bottom: 1em;

    a {
        color: white !important;
        margin-left: 4px;
    }

    img {
        opacity: 0.55;
    }

    img:hover {
        opacity: 0.9;
    }
}

#logo-small {
    display: none;
    font-size: 150%;
}

.header-contents {
    a {
        color: $color-light-smoke;
    }
}

.header-links {
    text-align: right;
    margin-bottom: 0px;
}

.header-elem {
    line-height: 45px;
    cursor: pointer;
    display: inline-block;
}

.header-elem:hover {
    transition: color 0.2s;
    color: rgba(255, 255, 255, 1);
}

.pagination a {
    margin: 0 !important;
    padding: 0 !important;
}

.ornament {
    text-align: center;
}

.share {
    text-align: right;

    ul {
        list-style-type: none;
    }

    li {
        display: inline;
        vertical-align: top;
    }
}

.bigger-text {
    font-size: 115%;
}

.post {
    text-align: justify;

    table {
        margin: 0 auto;
        margin-bottom: 1.5em;
        box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
    }

    ul {
        list-style-position: inside;
        padding-left: 3em;
    }

    ol {
        padding-left: 3em;
    }

    li p {
        text-indent: 0 !important;
    }

    img {
        padding: 20px;
        background-color: rgba(200, 200, 200, 0.1);
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
        border-radius: 5px;
    }
}

.post-title {
    margin-bottom: 20px;
    text-align: left;
}

.formatted-par {
    text-indent: 2em;
    text-align: justify;
}

.archive li {
    list-style-type: none;
    border-bottom:  1px solid #ddd;
    margin-top: 1em;

    a {
        color: #888 !important;
    }

    a:hover {
        color: $color-red !important;
    }
}

.highlight {
    font-size: medium;
}

::selection {
    background: $color-light-teal;
}

::-moz-selection {
    background: $color-light-teal;
}

a {
    color: $color-red;
}

.about-logos {
    text-align: right;
}

.about-logos img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    border-radius: 50%;
}

.rss-img {
    height: 24px;
    width: 24px;
}

.pagination-centered {
    text-align: center;
}

s {
    opacity: 0.6;
}

table, th, td {
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.noindent {
    text-indent: 0 !important;
}

.smaller {
    font-size: medium !important;
}

#damn {
    width: 100%;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    cursor: pointer;
}


@media (max-width: $media-query-breakpoint) {
    .header {
        margin-top: 0;
    }

    .content {
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 0;
    }

    #logo-big {
        display: none;
    }

    #logo-small {
        display: inline-block;
    }
}
