<!DOCTYPE html>
<html xmlns:fb=”http://ogp.me/ns/fb#” lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% if page.homepage %}The Open Blog{% else %}{{ page.title }} - The Open Blog{% endif %}</title>

        <link rel="icon" type="image/ico" href="/img/favicon.ico?vnew"/>
        <link rel="canonical" href="{{ site.url}}{{ page.url | replace:'index.html',''}}" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% if page.is_post == true %}
            <meta name="description" content="{{ content | truncatewords:75 | strip_html | escape }}" />
        {% else %}
            <meta name="description" content="My personal blog. Mostly technical stuff." />
        {% endif %}
        <meta name="keywords" content="Mihnea, Dobrescu-Balaur, Dobrescu, Balaur, Mozilla, open, source, open-source, blog, programming" />
        <meta name="robots" content="index,follow" />

        <meta property="og:image" content="http://www.mihneadb.net/img/favicon.ico"/>
        <meta property="og:title" content="{% if page.homepage %}The Open Blog{% else %}{{ page.title }} - The Open Blog{% endif %}"/>
        <meta property="og:site_name" content="Mihnea DB - The Open Blog"/>
        <meta property="og:type" content="blog"/>
        <meta property="og:url" content="{{ site.url}}{{ page.url | replace:'index.html',''}}"/>


        <link rel="stylesheet" href="/css/syntax.css" />
        <link rel="stylesheet" href="/css/normalize.css" />
        <link rel="stylesheet" href="/css/foundation.css" />
        <link rel="stylesheet" href="/css/site.css" />

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!--typekit fonts-->
        <script type="text/javascript" async>
          (function(d) {
            var config = {
              kitId: 'aml8zwo',
              scriptTimeout: 3000
            },
            h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
          })(document);
        </script>

        <link href="http://www.mihneadb.net/feed.xml" rel="alternate" type="application/rss+xml" title="Latest posts on mihneadb.net"/>

    </head>

    {% if page.is_post == true %}
        <body itemscope="" itemtype="http://schema.org/BlogPosting">
    {% else %}
        <body itemscope="" itemtype="http://schema.org/Blog">
    {% endif %}

    <div class="header text-center">
        <div class="header-contents large-centered large-11 small-12 columns">
            {% if page.displays_title == true %}
                <a href="/">
                    <h1 class="post-title">{{ page.title }}</h1>
                </a>
            {% else %}
                <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
            {% endif %}
            {% if page.date %}
                <time class="header-subtitle" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                    {{ page.date | date_to_long_string }}
                </time>
            {% endif %}

            {% comment %}Only for schema{% endcomment %}
            <span class="hide" itemprop="author" itemscope="" itemtype="http://schema.org/Person">
                <span itemprop="name">
                    <a href="https://plus.google.com/u/0/+MihneaDobrescuBalaur" itemprop="url" rel="author">
                        Mihnea Dobrescu-Balaur
                    </a>
                </span>
            </span>

            {% if page.homepage == true or page.displays_title == true %}
                <p class="header-subtitle">Mihnea DB</p>
            {% endif %}
        </div>
        <div class="header-links">
            {% if page.homepage != true %}
                <a href="/"><img class="header-icon" src="/img/home.png" alt="Home"></a>
            {% endif %}
            {% if page.about != true %}
                <a href="/about"><img class="header-icon" src="/img/info.png" alt="About"></a>
            {% endif %}
            <a href="http://www.mihneadb.net/feed.xml"><img class="header-icon" src="/img/rss.png" alt="RSS"></a>
        </div>
    </div>
