<!DOCTYPE html>
<html xmlns:fb=”http://ogp.me/ns/fb#” lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% if page.homepage %}The Open Blog{% else %}{{ page.title }} - The Open Blog{% endif %}</title>

        <link rel="icon" type="image/ico" href="/img/favicon.ico?vnew"/>
        <link rel="canonical" href="{{ site.url}}{{ page.url | replace:'index.html',''}}" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta name="description" content="My personal blog. Mostly technical stuff." />
        <meta name="keywords" content="Mihnea, Dobrescu-Balaur, Dobrescu, Balaur, Mozilla, open, source, open-source, blog, programming" />
        <meta name="robots" content="index,follow" />

        <meta property="og:image" content="http://www.mihneadb.net/img/favicon.ico"/>
        <meta property="og:title" content="{% if page.homepage %}The Open Blog{% else %}{{ page.title }} - The Open Blog{% endif %}"/>
        <meta property="og:site_name" content="Mihnea DB - The Open Blog"/>
        <meta property="og:type" content="blog"/>
        <meta property="og:url" content="{{ site.url}}{{ page.url | replace:'index.html',''}}"/>


        <link rel="stylesheet" href="/css/syntax.css" />
        <link rel="stylesheet" href="/css/normalize.css" />
        <link rel="stylesheet" href="/css/foundation.css" />
        <link rel="stylesheet" href="/css/site.css" />

        <script src="/js/site.js"></script>

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <script src="/js/zepto.min.js"></script>

        <!--typekit fonts-->
        <script type="text/javascript" src="//use.typekit.net/aml8zwo.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

        <link href="http://www.mihneadb.net/feed.xml" rel="alternate" type="application/rss+xml" title="Latest posts on mihneadb.net"/>

    </head>

    <body>

    <div class="header text-center">
        <div class="header-contents large-centered large-11 small-12 columns">
            {% if page.displays_title == true %}
                <a href="/">
            {% endif %}
            <h1 class="post-title">{{ page.title }}</h1>
            {% if page.displays_title == true %}
                </a>
            {% endif %}
            {% if page.date %}
                <span class="header-subtitle">{{ page.date | date_to_long_string }}</span>
            {% endif %}

            {% if page.homepage == true or page.displays_title == true %}
                <p class="header-subtitle">Mihnea DB</p>
            {% endif %}
        </div>
        <div class="header-links hide">
            {% if page.homepage != true %}
                <a href="/"><img class="header-icon" src="/img/home.png" alt="Home"></a>
            {% endif %}
            {% if page.about != true %}
                <a href="/about"><img class="header-icon" src="/img/info.png" alt="About"></a>
            {% endif %}
            <a href="http://www.mihneadb.net/feed.xml"><img class="header-icon" src="/img/rss.png" alt="RSS"></a>
        </div>
    </div>
    <script>resizePostHeader()</script>
